<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Ionic HTTP Intercept
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
 
  <ion-card text-center>
    <ion-card-header>
      My Auth State: {{ authenticated }}
    </ion-card-header>
    <ion-card-content>
      {{ message }}
    </ion-card-content>
  </ion-card>
 
  <button ion-button full (click)="setAuthState(true)" *ngIf="!authenticated">Login</button>
  <button ion-button full color="danger" (click)="setAuthState(false)" *ngIf="authenticated">Logout</button>
  <button ion-button full color="secondary" (click)="getSuccessful()">Get URL successful</button>
  <button ion-button full color="light" (click)="getFail()">Get URL with error</button>
 